footer{
    text-align: center;
    margin-top: 3.5em;
    padding: 3em 0 1em 0;
    border-top:1px solid #eee;
}

.backToTop>a{
    position: fixed;
    background: #fff;
    padding: 0.5em;
    border: 1px solid #eee;
    right: 1em;
    bottom: 5em;
}