header {
    color: #666;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

.navbar nav{
    padding: 0.6em 0 0.6em 0;
}

.navbar a{
    color: inherit;
    margin-right: 1em;
}

.navbar a:hover {
    color: #ffa628;
}