---
layout: default
---

<main>
    <div class="wrapMin">
        <section class="pageTitle">
            <h2>{{ page.title }}</h2>
            <div class="postMeta">
                <span class="date"><b>更新时间：</b>{{ page.date | date: '%Y-%m-%d' }}</span>
                <span class="tag">
                    <b>Tag：</b>
                    {% for tag in page.tags %}
                    <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>&nbsp;
                    {% endfor %}
                </span>
            </div>
        </section>
        <article class="pageContent">
            {{ content }}
        </article>
        <section class="pageNear">
            <ul>
                <li>
                    上一篇：
                    {% if page.previous %}
                    <a href="{{ site.baseurl }}/{{ page.previous.url }}">{{ page.previous.title }}</a>
                    {% else %}
                    看完啦 (つд⊂)
                    {% endif %}
                </li>
                <li>
                    下一篇：
                    {% if page.next %}
                    <a href="{{ site.baseurl }}/{{ page.next.url }}">{{ page.next.title }}</a>
                    {% else %}
                    看完啦 (つд⊂)
                    {% endif %}
                </li>
            </ul>
        </section>
    </div>
</main>

<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            inlineMath: [['$','$']]
            }
        });
    </script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS-MML_CHTML" type="text/javascript"></script>